.btn {

   color: rgb(245, 237, 237); 
   border: solid rgb(42, 0, 194);
   background-color: rgb(42, 61, 165);
   size: 2rem;
   font-size: 2rem;
}

.input {
    color: rgb(245, 237, 237); 
    border: solid rgb(42, 0, 194);
    background-color: rgb(22, 21, 21);
    size: 2rem;

    font-size: 1rem;
}